*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    /*margin: 10px;*/
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    padding: 15px;
    color: #fff;
    letter-spacing: 2px;
}

h3{
    color: #8D0B93;
    letter-spacing: 1px;
    font-size: 25px;
}

span{
    color: #FF057C;
    font-size: 28px;
}

.contenedor-total{
    width: 94%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 /*   border: 2px solid yellow;*/
    padding: 20px;
}

.contenedor-total .contenedor-img{ /*img entera de referencia*/
   /* border: 2px solid blue;*/
}

 .contenedor-total .contenedor-img .img-entera{ /*img entera de referencia*/
    height: 200px;
   /* border: 2px solid yellow;*/
}


.board {
    width: 384px;
    height: 380px;
    background-color: #feadd4;
    border: 10px solid #FF057C;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.board img{
    border: 1px solid #FF057C;
    cursor: pointer;
}

.board img:hover{
    border: 1px solid yellow;
}